.btn-action {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  height: 36px;
  font-size: 14px;
  padding: 0 12px;
  background-color: transparent;
}

.btn-follow {
  border: 1px solid #000;
  border-radius: 4px;
}

.btn-favorite {
  color: #5cb85c;
  border: 1px solid #5cb85c;
  border-radius: 4px;
}

.tag-a {
  cursor: default;
}
.tag-a:hover {
  background-color: #000;
}

.tag {
  padding: 0 12px;
  margin: 16px 16px 0 0;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
